@media (max-width:1000px){
    .sec_bab_div{
        /* background-color: aquamarine; */
        flex-direction: column;
        width: 90%;
    }
    .sec_ban_left_container_div{
        width: 100%;
        /* ba
        ckground-color: antiquewhite; */
    }
    .sec_ban_right_container_div{
        width: 100%;
    }
    .inputBox{
        width: 95%;
    }
    .jobCategory{
        width: 95%;
        height: 200px;
    }
    .footer_right_div{
        flex-direction: column;
    }
    .contact_div_1,.contact_div_2{
        margin: 10px 0px;
    }
    .job_sect_sec_div{
        flex-direction: column;
    }
}